@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
	}
}

body {
	color: rgb(var(--foreground-rgb));
}

.light {
	background-color: white;
	color: #111;
}

.dark {
	background-color: black;
	color: #bbb;
}

.theme {
	transition: 1s all ease;
}

.container {
	max-width: 85.4rem;
	min-height: 100vh;
	margin: 0 auto;
	padding: 0 3.75rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
